<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.ithie" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SAR: Codename WOLF</name>
    <description>
        Isometrisches Hubschrauber-Rettungsspiel. Fliege SAR-Einsätze, rette Überlebende und bringe sie sicher nach Hause.
    </description>
    <author email="michel.peindre@googlemail.com" href="https://github.com/ithie">
        ithie
    </author>
    <content src="index.html" />
    <platform name="ios">
        <preference name="Orientation" value="landscape" />
        <preference name="UIRequiresFullScreen" value="true" />
        <preference name="AllowInlineMediaPlayback" value="true" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="SuppressesLongPressGesture" value="true" />
        <config-file target="*-Info.plist" parent="UIRequiresFullScreen">
            <true/>
        </config-file>
    </platform>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
